<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "../css/header.css" >
  </head>

  <body>

    <div id = "header">
      
      <img src = "../img/home/logo.png" alt = "Lanpinet" id = "logo">

      <nav>
        <ul id = "menu">
          <li><a href="/">home</a></li>
          <li><a href="/models">models</a></li>
          <li><a href="/textures">textures</a></li>
        </ul>
      </nav>

      <nav>
        <ul id = "session">
          <li><a href="/login" id = "login">log in</a></li>
          <li id = "register"><a href="/register">Sign Up</a></li>
        </ul>
      </nav>


    </div>
