{{> header}}

<link rel="stylesheet" href="../css/main.css">

<div id = "main">

    <div id = "presentation">

    </div> 

    <div id = "presentation-bar">
        <p>Welcome to <strong>Lanpinet</strong> ! Download <strong>models</strong> and <strong>textures</strong> for <strong>free</strong>.</p>
    </div>

    <div id = "content">

        <div id = "left">

            <a href="/models">
        
                <div id = "models">

                    <div class = "above">
                        <p>3D models</p>
                    </div>

                    <div class = "below">
                        <p></p>
                    </div>
                    
                </div>

            </a>

        </div>

        <div id = "right">

            <a href="/textures">
                <div id = "textures">

                    <div class = "above">
                        <p>textures</p>
                    </div>

                    <div class = "below">
                        <p></p>
                    </div>
                
                </div>
            </a> 
            
        </div>

    </div>

    <div id = "previews">
        <p>
            Lanpinet is a free library of 3D models and textures.
        </p>
    </div>

</div>

{{> footer}}